/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

*{
  margin: 0;
  padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}

header{
  position: relative;
  width: 800px;
  height: 50px;
  background-color: #0bb5f4;
  border-radius: 5px;
  margin: 5px auto;
}

body{
  background-image: url(https://images.unsplash.com/photo-1547003016-f98f1b2861b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
	/*background: #585c68;*/
  font-size: 14px;
  line-height: 22px;
  /*color: #555555;*/
  background-size: cover;
}

.language-bar{
  display: flex;
  justify-content: space-around;
  color: #fff;
}

a {
text-decoration: none;
}

button {
  border-style: none;
  width: 60px;
  height: 50px;
  margin-left: 5px;
  color: #fff;
	margin: 0 auto;
  background-color: #0bb5f4;
  outline: 0;
  cursor: pointer;
}

.choice-lang{
  margin-top: 12px;
}

.bold{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

.text{
  margin-top: 5px;
}

.work{
  margin-top: 20px;
}

.resume .resume-left {
  width: 280px;
  background: #0bb5f4;
}

.resume .resume-left .resume-profile {
  width: 100%;
  height: 280px;
}

.resume .resume-left .resume-profile img {
  width: 100%;
  height: 100%;
}

.resume .resume-left .resume-content{
  padding: 0 25px;
}

.link{
  text-decoration: none;
  color: #030177;
}

.link:hover{
  text-decoration: underline;
  text-shadow: 2px 2px 8px #0400ff;
}

.resume .title{
  margin-bottom: 20px;
}

.resume .resume-left .bold{
  color: #fff;
}

.resume .resume-left .regular{
  color: #b1eaff;
}

.resume .resume-item{
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}

.resume .resume-left .resume-item:last-child,
.resume .resume-right .resume-item:last-child{
  border-bottom: 0px;
}

.resume .resume-left ul li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.resume .resume-left ul li:last-child{
  margin-bottom: 0px;
}

.resume .resume-left ul li .icon{
  width: 35px;
  height: 35px;
  background: #fff;
  color: #0bb5f4;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume-right .resume-hobby ul li i{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.resume .resume-left ul li .data{
  color: #b1eaff;
}

.resume .resume-left .resume-skills ul li{
  color: #b1eaff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume .resume-left .resume-skills ul li .skill-name{
  width: 25%;
}

.resume .resume-left .resume-skills ul li .skill-progress{
  width: 45%;
  margin: 0 5px;
  height: 8px;
  background: #009fd9;
  position: relative;
}

.resume .resume-left .resume-skills ul li .skill-percent{
  width: 15%;
}

.resume .resume-left .resume-skills ul li .skill-progress span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume-left .resume-social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume-right{
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume-right .bold{
  color: #0bb5f4;
}

.resume .resume-right .resume-work ul,
.resume .resume-right .resume-education ul{
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume-right ul li{
  position: relative;
}

.resume .resume-right ul li .date{
  font-size: 16px;
  font-size: 500;
  margin-bottom: 15px;
}

.resume .resume-right ul li .info{
  margin-bottom: 20px;
}

/*.resume .resume-right ul li:last-child .info {
  margin-bottom: 0;
}*/

.resume .resume-right .resume-work ul li:before,
.resume .resume-right .resume-education ul li:before{
  content: "";
  position: absolute;
  top: 0px;
  left: -26px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid #0bb5f4;
}

.resume .resume-right .resume-work ul li:after,
.resume .resume-right .resume-education ul li:after{
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 3px;
  height: 250px;
  background: #0bb5f4;
}

.resume .resume-right .resume-hobby ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume .resume-right .resume-hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume .resume-right .resume-hobby ul li i {
  font-size: 30px;
}

.resume .resume-right .resume-hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: #0bb5f4;
}

.resume .resume-right .resume-hobby ul li:last-child:before {
  display: none;
}
